body, html{
    height: 100%;
}

.bg
{
    background-image: url("https://wllmgs.github.io/Website/img/code.JPG");
    background-attachment: fixed;
    
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-buffer
{
    margin-top: 20px;
}

